<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dietta"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".User.Video.View.VideoAllView"
            android:exported="false" />
        <activity
            android:name=".User.UserProfile.View.FormEditProfile"
            android:exported="false" />
        <activity
            android:name=".User.Schedule.View.ScheduleChildView"
            android:exported="false" />
        <activity
            android:name=".User.Schedule.View.ScheduleParentView"
            android:exported="false" />
        <activity
            android:name=".User.Culinary.View.CulinaryAllView"
            android:exported="false" />
        <activity
            android:name=".User.Video.View.VideoDetailView"
            android:exported="false" />
        <activity
            android:name=".User.Culinary.View.CulinaryDetailView"
            android:exported="false" />
        <activity
            android:name=".User.Video.View.Cardio"
            android:exported="false" />
        <activity
            android:name=".User.Video.View.Pilates"
            android:exported="false" />
        <activity
            android:name=".User.Video.View.Gym"
            android:exported="false" />
        <activity
            android:name=".User.UserProfile.View.Profile"
            android:exported="false" />
        <activity
            android:name=".User.Track"
            android:exported="false" />
        <activity
            android:name=".User.History.View.HistoryView"
            android:exported="false" />
        <activity
            android:name=".User.Diary.View.DiaryView"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".User.Video.View.Yoga"
            android:exported="false" />
        <activity
            android:name=".Admin.Culinary.View.FormAddMakanan"
            android:exported="false" />
        <activity
            android:name=".Admin.Culinary.View.CulinaryDetailAdmin"
            android:exported="false" />
        <activity
            android:name=".Admin.Culinary.View.KelMakanan"
            android:exported="false" />
        <activity
            android:name=".Admin.Culinary.View.FormEditMakanan"
            android:exported="false" />
        <activity
            android:name=".Admin.Video.View.FormAddVideo"
            android:exported="false" />
        <activity
            android:name=".Admin.Video.View.FormEditVideo"
            android:exported="false" />
        <activity
            android:name=".Admin.Video.View.KelVideo"
            android:exported="false" />
        <activity
            android:name=".Admin.Video.View.VideoDetailAdmin"
            android:exported="false" />
        <activity
            android:name=".Admin.Dashboard"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterView"
            android:exported="true" />
        <activity
            android:name=".LoginView"
            android:exported="true" />
        <activity
            android:name=".User.Homepage"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
    </application>

</manifest>